{
	debug
	admin off
	acme_dns cloudflare {$CF_API_KEY}
	ocsp_stapling off
	log {
		level DEBUG
		output file /var/log/caddy/all.log {
			roll_size 20MiB
			roll_keep 5
			roll_keep_for 168h
		}
	}
}

ooye.kludgecs.com {
	encode zstd gzip
	reverse_proxy matrix-ooye:6693
}

matrix.kludgecs.com {
 	handle /_matrix/* {
 		encode zstd gzip

 		reverse_proxy matrix:6167 {
 			header_up X-Forwarded-Port {http.request.port} 
 			header_up X-Forwarded-Proto {http.request.scheme} 
 			header_up X-Forwarded-TlsProto {tls_protocol} 
 			header_up X-Forwarded-TlsCipher {tls_cipher} 
 			header_up X-Forwarded-HttpsProto {proto} 
 		}
 	}

	error * "Not found" 404
}

www.kludgecs.com, kludgecs.com {
	encode zstd gzip

	handle_path /.well-known/matrix/* {
		header {
			Access-Control-Allow-Origin *
			Content-Type application/json
		}
		root /var/www/matrix
		file_server
	}

	handle {
		root /var/www/kludgecs.com
		file_server
	}

	handle_errors {
		rewrite * /{err.status_code}.html
		file_server
	}
}
